@font-face {
  font-family: 'Rubik Mono';
  src: url('../fonts/rubik mono/RubikMonoOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/roboto/Roboto-black.ttf') format('truetype');
}

@font-face {
  font-family: 'crimson pro';
  src: url('../fonts/crimson_pro/CrimsonPro-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'quicksand';
  src: url('quicksand-variablefont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Reem kufi';
  src: url('../fonts/reem_kufi/reemkufi-variablefont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'garamond';
  src: url('../fonts/garamond/EBGaramond-VariableFont_wght.ttf') format('truetype');
}
 
@font-face {
  font-family: 'raleway';
  src: url('../fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
}